#navbar {
    background: black !important;
    color-scheme: dark;
    color: white !important;
  }

#navbar-transition {
    background: black !important;
}

#navbar .text-gray-800, #navbar .text-gray-600, #navbar .text-gray-700 {
    color: white !important;
}

.nav-logo.hidden {
    display: block !important;
}

.nav-logo.block {
    display: none !important;
}

/* :root {
    --background-light: red
} */

#search-bar-entry {
    background: black !important;
    color: white !important;
}

/* Override the default height of the active tab indicator, too thin when we have a black header on white page */
.nav-tabs [class*="h-[1.5px]"] {
    height:3px !important
}

/* Add gradient to header button */
#navbar a[href="https://app.runa.io"] .bg-primary-dark
{
  background: linear-gradient(to top right, #76fba7, #f1fc6f) border-box;
}

#navbar a[href="https://app.runa.io"] .text-white, #navbar a[href="https://app.runa.io"] svg
{
  color: black;
}
